<app-collapsible-card title="Service">
    Bei allen Serviceanfragen an die EDV ist die Mailadresse <a href="mailto:hr-gh-ticket@edeka.de">{{"hr-gh-ticket@edeka.de"}}</a> die zentrale Anlaufstelle.
    <br /><br />
    Wenn Ihnen Sachverhalte bezüglich der IT Sicherheit auffallen (wie z.B. Phishing) bitte senden Sie eine Information an <a href="mailto:hr_mail_it-sicherheit@edeka.de">{{"hr_mail_it-sicherheit@edeka.de"}}</a>.
    <br /><br />
    Bitte nur in absolut dringenden Notfällen die Sammelnummer 05661 72-7500 telefonisch kontaktieren.
    <mat-card-actions align="end">
        <button mat-button>Bei weiteren Anfragen</button>
    </mat-card-actions>
</app-collapsible-card>