.example-tree-invisible {
    display: none;
  }
  
  .example-tree ul,
  .example-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .example-tree-expandable-node {
    display: flex;
    align-items: center;
  }

  ::ng-deep   .example-tree-option .mdc-checkbox {
    display: none !important;
  }
  
  .example-tree-node {
    display: flex;
    justify-content: space-between;
  }
  .example-tree-node :hover {
    background-color: #f0f0f0;
  }


  /*
   * This padding sets alignment of the nested nodes.
   */
  .example-tree .mat-nested-tree-node div[role=group] {
    padding-left: 40px;
  }
  
  /*
   * Padding for leaf nodes.
   * Leaf nodes need to have padding so as to align with other non-leaf nodes
   * under the same parent.
   */
  .example-tree div[role=group] > .mat-nested-tree-node {
    padding-left: 40px;
  }